* {
    font-family: 'Raleway', sans-serif;
}
 /* DEFINITION DES ELEMENTS DANS LE GRID*/
.header {
    grid-area: header; 
}
.menu {
    grid-area: menu;
}
.sectionSupp {
    grid-area: paragraphe;
}
.bloc1 {
    grid-area: bloc1;
}

.bloc2 {
    grid-area: bloc2;
}

.bloc3 {
    grid-area: bloc3;
}


.footer {
    grid-area: footer;
}

/* CONTAINER */

.container {
    display: grid;
    grid-template-areas:    "header header header"
                            "menu menu menu"
                            "paragraphe paragraphe paragraphe"
                            "bloc1 bloc2 bloc3"
                            "footer footer footer";
    background-color: #F33230;
    gap: 10px;
    padding: 10px;
}

/* .container > div veut dire qu'on sélectionne les div enfants de container*/
.container > div {
    background-color: #FAC8C8;
    text-align: center;
}

/*HEADER - IMAGE ET TITRE */

header {
    background-image: url('header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

h1 {
    font-size: 600%;
    margin-top: auto;
    padding-top: 22%;
    padding-left: 10%;
    font-family: 'Raleway Dots', sans-serif;
    font-weight: lighter;
}
/* NAV BAR */
nav {
    text-align: center;
}

.navigation {
    font-size: 18px;
    padding: 2%;
}

#onpage {
    font-weight: bold;
    text-decoration: none;
    font-size: 130%;
}

#menuBurger {
    display: none;
}

#searchBar {
    display: none;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    background-color: #FFC5C6;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

/* BLOCS AVEC IMAGE*/
.imageBloc {
    max-width: 80%;
    max-height: 175px;
}

p {
    font-size: 100%;
    padding: 1%;
}

/* Media Query */
@media screen and (max-width: 640px) {
    .container {
        grid-template-areas:    "header"
                                "menu"
                                "paragraphe"
                                "bloc1"
                                "bloc2"
                                "bloc3"
                                "footer"
     
    }

    header {
        font-size: 50%;
    }

    #menuBurger {
        display: block;
    }

    #searchBar {
        display: block;
}

    .navigation, label, input, button {
        display: none;
}

}

